<?xml version="1.0" encoding="utf-8" ?>

<configuration>

<connectionStrings>
    <add name="callboardDB"
         connectionString="Data Source=DESKTOP-4I1O878\SQLEXPRESS;Initial Catalog=callboardDB;Integrated Security=False;Connect Timeout=30;User ID=max_bro;Password=1111"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>