<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="dataSettings" type="Callboard.App.Data.Config.Sections.DataSettingsConfigSection, Callboard.App.Data" />
  </configSections>

  <connectionStrings>
    <add name="callboardDB"
         connectionString="Data Source=DESKTOP-4I1O878\SQLEXPRESS;Initial Catalog=callboardDB;Integrated Security=False;Connect Timeout=30;;User ID=max_bro;Password=1111"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <dataSettings>
    <tables>
      <table name="ad">
        <procedures>
          <procedure type="selectAll" procedureName="sp_select_ad"></procedure>
          <procedure type="selectByCategoryId" procedureName="sp_select_ad_by_categoryid" params="CategoryId"></procedure>
        </procedures>
        <columns>
          <column name="AdId" mapPropertyName="AdId"></column>
          <column name="Kind" mapPropertyName="Kind"></column>
          <column name="State" mapPropertyName="State"></column>
          <column name="CityId" mapPropertyName="CityId"></column>
          <column name="Name" mapPropertyName="Name"></column>
          <column name="Price" mapPropertyName="Price"></column>
          <column name="CreationDate" mapPropertyName="CreationDate"></column>
        </columns>
      </table>

      <table name="category">
        <procedures>
          <procedure type="selectAll" procedureName="sp_select_category"></procedure>
          <procedure type="selectByParentId" procedureName="sp_select_subcategory_by_parentid" params="ParentId"></procedure>
        </procedures>
        <columns>
          <column name="CategoryId" mapPropertyName="AdId"></column>
          <column name="Name" mapPropertyName="Name"></column>
          <column name="ParentId" mapPropertyName="ParentId"></column>
        </columns>
      </table>

      <table name="phone">
        <procedures>
          <procedure type="selectByUserId" procedureName="sp_select_phone_by_userid" params="UserId"></procedure>
        </procedures>
        <columns>
          <column name="PhoneId" mapPropertyName="PhoneId"></column>
          <column name="Number" mapPropertyName="Number"></column>
          <column name="UserId" mapPropertyName="UserId"></column>
        </columns>
      </table>

      <table name="mail">
        <procedures>
          <procedure type="selectByUserId" procedureName="sp_select_mail_by_userid" params="UserId"></procedure>
        </procedures>
        <columns>
          <column name="MailId" mapPropertyName="MailId"></column>
          <column name="Email" mapPropertyName="Email"></column>
          <column name="UserId" mapPropertyName="UserId"></column>
        </columns>
      </table>

      <table name="image">
        <procedures>
          <procedure type="selectByAdId" procedureName="sp_select_image_by_adid" params="AdId"></procedure>
        </procedures>
        <columns>
          <column name="ImageId" mapPropertyName="ImageId"></column>
          <column name="Data" mapPropertyName="Data"></column>
          <column name="MimeType" mapPropertyName="MimeType"></column>
          <column name="AdId" mapPropertyName="AdId"></column>
        </columns>
      </table>

      <table name="user">
        <procedures>
          <procedure type="getById" procedureName="sp_get_user_by_userid" params="UserId"></procedure>
        </procedures>
        <columns>
          <column name="UserId" mapPropertyName="UserId"></column>
          <column name="Name" mapPropertyName="Name"></column>
          <column name="PhotoData" mapPropertyName="PhotoData"></column>
          <column name="PhotoMimeType" mapPropertyName="PhotoMimeType"></column>
        </columns>
      </table>

      <table name="addetails">
        <procedures>
          <procedure type="getById" procedureName="sp_get_addetails_by_adid" params="AdId"></procedure>
        </procedures>
        <columns>
          <column name="AdId" mapPropertyName="AdId"></column>
          <column name="Kind" mapPropertyName="Kind"></column>
          <column name="State" mapPropertyName="State"></column>
          <column name="CityId" mapPropertyName="CityId"></column>
          <column name="Name" mapPropertyName="Name"></column>
          <column name="Price" mapPropertyName="Price"></column>
          <column name="CreationDate" mapPropertyName="CreationDate"></column>
          <column name="UserId" mapPropertyName="UserId"></column>
          <column name="Description" mapPropertyName="Description"></column>
          <column name="AddressLine" mapPropertyName="AddressLine"></column>
        </columns>
      </table>

      <table name="country">
        <procedures>
          <procedure type="getById" procedureName="sp_get_country_by_coyntryid" params="CountryId"></procedure>
        </procedures>
        <columns>
          <column name="CountryId" mapPropertyName="CountryId"></column>
          <column name="Name" mapPropertyName="Name"></column>
        </columns>
      </table>

      <table name="city">
        <procedures>
          <procedure type="getById" procedureName="sp_get_city_by_cityid" params="CityId"></procedure>
          <procedure type="getLocationById" procedureName="sp_get_location_by_cityid" params="CityId"></procedure>
        </procedures>
        <columns>
          <column name="City" mapPropertyName="City"></column>
          <column name="Area" mapPropertyName="Area"></column>
          <column name="Country" mapPropertyName="Country"></column>
        </columns>
      </table>

      <table name="area">
        <procedures>
          <procedure type="getById" procedureName="sp_get_area_by_areaid" params="AreaId"></procedure>
        </procedures>
        <columns>
          <column name="AreaId" mapPropertyName="AreaId"></column>
          <column name="CountryId" mapPropertyName="CountryId"></column>
          <column name="Name" mapPropertyName="Name"></column>
        </columns>
      </table>  

    </tables>
  </dataSettings>

</configuration>