@{
    ViewBag.Title = "500 - Server not responding";
}

<h1>Server not responding</h1>

<div class="row">
    <div class="col s12">
        <h1>500 Oops! Server not responding.</h1>
    </div>
</div>