@model NavViewModel

<ul>
    @foreach (var item in Model.Categories)
    {
        <li>
            @Html.ActionLink(item.Name, "GetCategoryAds", "Ad", routeValues: new { categoryID = item.ID }, htmlAttributes: null);
        </li>
    }
</ul>