@model NavViewModel

<div class="navs">
    @foreach (var item in Model.Categories)
    {
    <div class="navs__item_vertical navs__item_light_underline">
        @*@Html.ActionLink(item.Name, "GetCategoryAds", "Ad",
                 routeValues: new { categoryID = item.ID },
                 htmlAttributes: new { @class = "button button_block button_gap_1 button_dark_hover" })*@
        @Html.ActionLink(item.Name, "GetCategoryAds", "Ad",
                 routeValues: new { categoryID = item.ID },
                 htmlAttributes: new { @class = "link link_block link_gap_1 link_red" })
    </div>
    }
</div>