@model IReadOnlyCollection<Category>

@foreach (var item in Model)
{
    <div class="collection-item">
        <div>
            <input type="checkbox" id="checkbox-@item.CategoryId" data-category-id="@item.CategoryId">
            <label for="checkbox-@item.CategoryId">@item.Name</label>
        </div>
        <a onclick="getSubcategories(this, @item.CategoryId, 'subcategories-@item.CategoryId')" 
           id="load-subcategories-@item.CategoryId"
           class="secondary-content waves-effect waves-teal">
            <i class="material-icons">keyboard_arrow_down</i>
        </a>
    </div>
    <div id="subcategories-@item.CategoryId" class="collapsed"></div>
}