<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="commercialSettings" type="Callboard.Service.Commercial.Config.CommercialConfigSection, Callboard.Service.Commercial" />
  </configSections>

  <commercialSettings>
    <pathways>
      <imagePath path="D:\_projects\_github\callboard\database\images" />
    </pathways>
  </commercialSettings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Callboard.Service.Commercial.CommercialContract">
        <endpoint address="" binding="basicHttpBinding" contract="Callboard.Service.Commercial.ICommercialContract">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:4001/Callboard.Service.Commercial.CommercialContract.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
