<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="commercialSettings" type="Callboard.Service.Commercial.Config.StartupCommercialConfigSection, Callboard.Service.Commercial"/>
  </configSections>

  <commercialSettings>
    <pathways>
      <commercialPath path="E:\_github\_epam\callboard\Callboard\Callboard.Service.Commercial\ads" />
    </pathways>
  </commercialSettings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Callboard.Service.Commercial.CommercialRepository">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Callboard.Service.Commercial.CommercialRepository.svc" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="Callboard.Service.Commercial.ICommercialRepository" >
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
