<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="commercialSettings" type="Callboard.Service.Commercial.Config.StartupCommercialConfigSection, Callboard.Service.Commercial"/>
  </configSections>

  <commercialSettings>
    <pathways>
      <path path="c:\foo" />
    </pathways>
  </commercialSettings>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Callboard.Service.Commercial.CommercialRepository">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Commercial/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="Callboard.Service.Commercial.ICommercialRepository">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
