@model SearchViewModel
@Scripts.Render("~/search")

<div class="width_25per float_left">
    @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "" }))
    {
        <select id="countries" onchange="fillAreas(this.options[this.selectedIndex].value)">
            <option selected="selected">--- Choose country ---</option>
        </select>
        <select id="areas" onchange="fillCities(this.options[this.selectedIndex].value)">
            <option selected="selected">--- Choose area ---</option>
        </select>
        <select id="cities">
            <option selected="selected">--- Choose city ---</option>
        </select>

        <select id="kinds">
            <option selected="selected">--- Choose kind ---</option>
        </select>

        <select id="states">
            <option selected="selected">--- Choose state ---</option>
        </select>

        <input type="submit" name="name" value="Search" class="button" />
    }
</div>
<div class="width_75per float_right">
    <div class="ad-container">
        <div class="ad-container__content">
            @foreach (var item in Model.Ads)
            {
                Html.RenderPartial("Partial\\AdPartial", model: item);
            }
        </div>
    </div>
</div>