.ad_min {
    margin-top: 1.5em;
    margin-bottom: 2.5em;
    border: 1px solid rgba(0, 0, 0, .2);
    height: 170px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}
