@model User

<div class="width_25per float_left">
    @{ Html.RenderPartial("Partial\\User", Model); }

    <div class="center">
        @Html.ActionLink("Edit", "EditProfile", "User",
        new { userId = Model.UserId },
        htmlAttributes: new { @class = "btn-floating btn-large red link center" })

        @Html.ActionLink("Add", "CreateAdDetails", "AdDetails",
        null,
        htmlAttributes: new { @class = "btn-floating btn-large waves-effect waves-light red" })
    </div>
</div>
<div class="width_75per float_right">
    @{ Html.RenderAction("GetAdsForUser", "Ad", new { userId = Model.UserId }); }
</div>