@model IReadOnlyCollection<Ad>

<div class="ad-container">
    <div class="ad-container__content">
        @if (Model != null && Model.Count != 0)
        {
            foreach (var item in Model)
            {
                Html.RenderPartial("Partial\\AdPartial", model: item);
            }
        }
        else
        {
            <div>Nothing found:(</div>
        }
    </div>
</div>