@model IReadOnlyCollection<Ad>

<div class="ad-container">
    <div class="ad-container__content row">
        @if (Model != null && Model.Count != 0)
        {
            foreach (var item in Model)
            {
                <div class="col s4">
                    @{ Html.RenderPartial("Partial\\AdPartial", model: item); }
                </div>
            }
        }
        else
        {
            <div>Nothing found:(</div>
        }
    </div>
</div>