<footer class="page-footer">
    <div class="footer-copyright">
        <div class="white-text row center ">
            Copyright © @DateTime.Now.Year Maksim Chendrov
        </div>
    </div>
</footer>
