<div class="header header_dark_theme header_line">
    <div class="header__logo header__logo_green width_25per">
        <a href="#" class="link header__main-link">Callboard</a>
    </div>
    <div class="header__search-form width_50per">
        @{ Html.RenderPartial("Partial\\SearchForm"); }
    </div>
    <div class="header__user width_25per">
        <div class="user user_min">
            @if (User.Identity.IsAuthenticated)
            {
                var user = User as Callboard.App.General.Entities.Auth.UserPrinciple;
                if (user != null)
                {
                        @Html.ActionLink(user.Name, "OpenProfile", "User", new { userId = user.UserId }, htmlAttributes: new { @class = "link" })
                        @Html.ActionLink("Log out", "Logout", "Account", null, htmlAttributes: new { @class = "link" })
                }
            }
            else
            {
                <div>@Html.ActionLink("Sing in", "Login", "Account", new { returnUrl = Request.RawUrl }, htmlAttributes: new { @class = "link" })</div>
                <div>@Html.ActionLink("Sing up", "Register", "Account", new { returnUrl = Request.RawUrl }, htmlAttributes: new { @class = "link" })</div>
            }
        </div>
    </div>
</div>
