<div class="header header_dark_theme header_line">
    <div class="header__logo header__logo_green width_25per">
        <a href="#" class="button header__main-link">Callboard</a>
    </div>
    <div class="header__search-form width_50per">
        @{ Html.RenderPartial("Partial\\SearchForm"); }
    </div>
    <div class="header__user width_25per">
        <div class="user user_min">
            <div class="user__name">
                UserName
            </div>
            <div class="user__photo">
                UserPhoto
            </div>
        </div>
    </div>
</div>
