<div class="menu menu_center">
    <a href="#" class="button button_hover_red menu__link">Home</a>
    <div class="menu__splitter">/</div>
    <a href="#" class="button button_hover_red menu__link">About Us</a>
    <div class="menu__splitter">/</div>
    <a href="#" class="button button_hover_red menu__link">Products</a>
</div>
