<div class="menu menu_center">
    <a href="@Url.Action("Index", "Home")" class="link menu__link">Home</a>
    <div class="menu__splitter">/</div>
    <a href="#" class="link menu__link">About Us</a>
    <div class="menu__splitter">/</div>
    <a href="@Url.Action("GetAdList", "Ad")" class="link menu__link">Ads</a>
    <div class="menu__splitter">/</div>
    <a href="@Url.Action("Search", "Search")" class="link menu__link">Search</a>
</div>
