<form class="search-form search-form_center">
    <div class="search-form__box">
        <input type="text" class="textbox search-form__textbox" placeholder="Search product..." />
        <input type="submit" class="button button_hover_green search-form__button" value="search">
    </div>
</form>