@model User

<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-image">
                @if (Model.PhotoData == null)
                {
                    <img class="width_100per" src="~/Content/images/profile.png" />
                }
                else
                {
                    @Html.RenderImage(Model.PhotoData, Model.PhotoExtension, "width_100per")
                }
                <span class="card-title">@Model.Name</span>
            </div>
            <div class="card-content">
                <div class="user__phones">
                    <div class="user__phones-header">Phones:</div>
                    @foreach (var item in Model.Phones)
                    {
                        <div class="user__phone-number">@item.Number</div>
                    }
                </div>

                <div class="user__mails">
                    <div class="user__mails-header">Mails:</div>
                    @foreach (var item in Model.Mails)
                    {
                        <div class="user__phone-number">@item.Email</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>