@model User

<h1>User</h1>
@Model.Name
@Model.UserId

<div id="phones">
    @foreach(var item in Model.Phones)
    {
        <div>@item.Number</div>
    }
</div>

<div id="emails">
    @foreach (var item in Model.Mails)
    {
        <div>@item.Email</div>
    }
</div>