@model User

<h1>User</h1>
@Model.Name

<div>
    @Html.RenderImage(Model.PhotoData, Model.PhotoExtension, null, htmlAttributes: new { width = 100, height = 100 })
</div>

<div id="phones">
    @foreach(var item in Model.Phones)
    {
        <div>@item.Number</div>
    }
</div>

<div id="emails">
    @foreach (var item in Model.Mails)
    {
        <div>@item.Email</div>
    }
</div>