<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Callboard</title>
    @Styles.Render("~/bundles/css")
</head>
<body class="page">
    @*<div class="page">*@
    <div class="header page__header header_light_theme ">
        <div class="container">
            <div class="header__title header__title_large">Callboard</div>
        </div>
    </div>

    <div class="page__slider page__slider_bottom_gap">
        <img class="page__slider__image" src="~/Content/images/banner.jpg" />
    </div>

    <div class="container">
        <div class="clearfix">
            <div class="page__navs page__navs_left page__navs_size_3">
                @{ Html.RenderAction("Menu", "Nav"); }
            </div>

            <div class="page__content page__content_right page__content_size_9">
                @RenderBody()
            </div>
        </div>
    </div>
    @*</div>*@
</body>
</html>
