<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Callboard</title>
    <link href="~/Content/css/reset.css" rel="stylesheet" />
    @Styles.Render("~/bundles/css")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/css/materialize.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/common")
    <script>
        $(document).ready(function () {
            $('.carousel').carousel();
        });
    </script>
</head>
<body class="page">
    <div class="content">

        <div class="page__header">
            @{ Html.RenderPartial("Partial\\Header"); }
        </div>

        <div class="page__menu">
            @{ Html.RenderPartial("Partial\\Menu"); }
        </div>

        <div class="page__content clearfix">
            @RenderBody()
        </div>

    </div>

    @{ Html.RenderPartial("Partial\\Footer"); }

    <script defer src="~/Scripts/materialize.min.js"></script>
</body>
</html>