<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Callboard</title>
    @Styles.Render("~/bundles/css")
</head>
<body class="page">
    <div class="page__header">
        @{ Html.RenderPartial("Partial\\Header"); }
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <h1>Hello, User</h1>
    }
    else
    {
        <h1>Hello, Guest</h1>
    }

    <div class="page__menu">
        @{ Html.RenderPartial("Partial\\Menu"); }
    </div>

    <div class="page__content">
        <div class="width_25per float_left">
            @{ Html.RenderAction("GetCommercial", "Commercial"); }
        </div>
        <div class="width_75per float_right">
            @RenderBody()
        </div>
    </div>
</body>
</html>
