
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Callboard</title>
    @Styles.Render("~/bundles/css")
</head>
<body class="page">
    <div class="container">
        <div class="clearfix">
            <div class="page__content">
                @RenderBody()          
            </div>
            <div>
                @{ Html.RenderAction("GetCommercial", "Commercial"); }
            </div>
        </div>
    </div>
</body>
</html>
