@model CommercialViewModel

@foreach (var item in Model.Commercials)
{
    <div>
        @Html.RenderImage(item.Image.Data, item.Image.Extension, null, new { width = 300, height = 400 });
    </div>
}
