@model CommercialViewModel

<div class="commercial">
    @if (Model.Commercials.Count < 1)
    {
        <div class="commercial__item">
            <img class="commercial__image" src="~/Content/images/ads.jpg" />
        </div>
    }

    @foreach (var item in Model.Commercials)
    {
        <div class="commercial__item">
            @Html.RenderImage(item.Image.Data, item.Image.Extension, imgclass: "commercial__image")
        </div>
    }
</div>