<div class="row">
    <div class="col s6">
        @{ Html.RenderPartial("~/Views/Kind/KindsEdit.cshtml"); }
    </div>
    <div class="col s6">
        @{ Html.RenderPartial("~/Views/State/StatesEdit.cshtml"); }
    </div>
</div>

<div class="row">
    <div class="col s4">
        @{  Html.RenderPartial("~/Views/Country/CountriesEdit.cshtml"); }
    </div>
    <div class="col s4">
        @{  Html.RenderPartial("~/Views/Area/AreasEdit.cshtml"); }
    </div>
    <div class="col s4">
        @{  Html.RenderPartial("~/Views/City/CitiesEdit.cshtml"); }
    </div>
</div>

<div class="row">
    <div class="col s12">
        @{ Html.RenderPartial("~/Views/Category/CategoriesEdit.cshtml"); }
    </div>
</div>