@model Kind

<div class="row" id="kind-container-@Model.KindId">
    <div class="col s9">
        <div class="input-field">
            <i class="material-icons prefix">toys</i>
            <input id="kind-type-@Model.KindId" type="text" class="validate" value="@Model.Type">
            <label for="kind-type-@Model.KindId">Kind</label>
        </div>
    </div>
    <div class="row col s3">

        <div class="col s6">
            <a onclick="saveKind(@Model.KindId, 'kind-type-@Model.KindId')" class="btn-floating waves-effect waves-light btn-middle green">
                <i class="material-icons center">save</i>
            </a>
        </div>

        <div class="col s6">
            <a onclick="deleteKind(@Model.KindId, 'kind-container-@Model.KindId')" class="btn-floating waves-effect waves-light btn-middle red" >
                <i class="material-icons center">delete</i>
            </a>
        </div>
    </div>
</div>