@model IReadOnlyCollection<Kind>

@foreach (var kind in Model)
{
    <div class="row" id="kind-container-@kind.KindId">
        <div class="col s9">

            <div class="input-field">
                <i class="material-icons prefix">toys</i>
                <input id="kind-type-@kind.KindId" type="text" class="validate" value="@kind.Type">
                <label for="kind-type-@kind.KindId" class="active">Kind</label>
            </div>

        </div>
        <div class="row col s3">

            <div class="col s6">
                <a onclick="updateKind(@kind.KindId, 'kind-type-@kind.KindId')" class="btn-floating waves-effect waves-light btn-middle green">
                    <i class="material-icons center">save</i>
                </a>
            </div>

            <div class="col s6">
                <a onclick="deleteKind(@kind.KindId, 'kind-container-@kind.KindId')" class="btn-floating waves-effect waves-light btn-middle red">
                    <i class="material-icons center">delete</i>
                </a>
            </div>

        </div>
    </div>
}