<?xml version="1.0" encoding="utf-8" ?>

<client>
  <endpoint address="http://localhost:4001/Callboard.Service.Commercial.CommercialRepository.svc"
    binding="basicHttpBinding" bindingConfiguration="basicHttpFor2MBMessage"
    contract="CommercialService.ICommercialRepository" name="basicHttpFor2MBMessage" />
</client>