<?xml version="1.0" encoding="utf-8" ?>

<client>
  <endpoint address="http://localhost:8733/Design_Time_Addresses/Commercial/"
    binding="basicHttpBinding" bindingConfiguration="basicHttpFor2MBMessage"
    contract="CommercialService.ICommercialRepository" name="basicHttpFor2MBMessage" />
</client>