@model AdViewModel
@Scripts.Render("~/bundles/ajax")

<div class="ad-container">
    @{ Html.RenderPartial("Partial\\Banner"); }

    <div class="ad-container__content">
        @foreach (var item in Model.Ads)
        {
            Html.RenderPartial("Partial\\AdPartial", model: item);
        }
    </div>
</div>