@model AdListViewModel

<div class="width_25per float_left">
    @{ Html.RenderAction("GetMainCategories", "Category"); }

    @{ Html.RenderAction("GetCommercial", "Commercial"); }
</div>
<div class="width_75per float_right">
    @{ Html.RenderPartial("Partial\\Banner"); }

    @{  Html.RenderPartial("Partial\\AdContainer", model: Model.Ads); }
</div>