@model AdListViewModel

<div class="width_25per left">
    @{ Html.RenderAction("GetCategoryMenu", "Navigation"); }

    @{ Html.RenderAction("GetCommercial", "Commercial"); }
</div>
<div class="width_75per right">
    @{  Html.RenderPartial("Partial\\AdContainer", model: Model.Ads); }
</div>