@model AdViewModel

<div class="ad-container">
    @{ Html.RenderPartial("Partial\\Banner"); }

    @foreach (var item in Model.Ads)
    {
        Html.RenderPartial("Partial\\AdMinPartial", model: item);
    }
</div>